body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:669px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:35px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:47px;
  width:95px;
  height:35px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:91px;
  word-wrap:break-word;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:58px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:133px;
  width:153px;
  height:58px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:149px;
  word-wrap:break-word;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:82px;
  width:0px;
  height:0px;
}
#u2_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:55px;
}
#u2_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:38px;
  width:20px;
  height:20px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:759px;
  width:100px;
  height:35px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:52px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:632px;
  width:124px;
  height:52px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:120px;
  word-wrap:break-word;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:250px;
  width:100px;
  height:35px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:41px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:244px;
  width:143px;
  height:41px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:139px;
  word-wrap:break-word;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:162px;
  width:0px;
  height:0px;
}
#u7_seg0 {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:-4px;
  width:36px;
  height:8px;
}
#u7_seg1 {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:-4px;
  width:8px;
  height:86px;
}
#u7_seg2 {
  border-width:0px;
  position:absolute;
  left:-42px;
  top:69px;
  width:20px;
  height:20px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:-82px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:162px;
  width:0px;
  height:0px;
}
#u8_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:15px;
  height:8px;
}
#u8_seg1 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:-4px;
  width:8px;
  height:92px;
}
#u8_seg2 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:75px;
  width:20px;
  height:20px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:-39px;
  top:30px;
  width:100px;
  word-wrap:break-word;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:285px;
  width:0px;
  height:0px;
}
#u9_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:19px;
}
#u9_seg1 {
  border-width:0px;
  position:absolute;
  left:-200px;
  top:11px;
  width:204px;
  height:8px;
}
#u9_seg2 {
  border-width:0px;
  position:absolute;
  left:-200px;
  top:0px;
  width:8px;
  height:19px;
}
#u9_seg3 {
  border-width:0px;
  position:absolute;
  left:-206px;
  top:-7px;
  width:20px;
  height:20px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:-148px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:381px;
  width:100px;
  height:35px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:381px;
  width:100px;
  height:35px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:265px;
  width:0px;
  height:0px;
}
#u12_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:26px;
  height:8px;
}
#u12_seg1 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:-4px;
  width:8px;
  height:120px;
}
#u12_seg2 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:103px;
  width:20px;
  height:20px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:39px;
  width:100px;
  word-wrap:break-word;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:265px;
  width:0px;
  height:0px;
}
#u13_seg0 {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:-4px;
  width:44px;
  height:8px;
}
#u13_seg1 {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:-4px;
  width:8px;
  height:120px;
}
#u13_seg2 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:103px;
  width:20px;
  height:20px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:-90px;
  top:30px;
  width:100px;
  word-wrap:break-word;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:399px;
  width:0px;
  height:0px;
}
#u14_seg0 {
  border-width:0px;
  position:absolute;
  left:-105px;
  top:-4px;
  width:109px;
  height:8px;
}
#u14_seg1 {
  border-width:0px;
  position:absolute;
  left:-112px;
  top:-10px;
  width:20px;
  height:20px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:-102px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:467px;
  width:100px;
  height:35px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:550px;
  width:100px;
  height:35px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:399px;
  width:0px;
  height:0px;
}
#u17_seg0 {
  border-width:0px;
  position:absolute;
  left:-108px;
  top:-4px;
  width:108px;
  height:8px;
}
#u17_seg1 {
  border-width:0px;
  position:absolute;
  left:-108px;
  top:-4px;
  width:8px;
  height:72px;
}
#u17_seg2 {
  border-width:0px;
  position:absolute;
  left:-114px;
  top:55px;
  width:20px;
  height:20px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:-136px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:467px;
  width:100px;
  height:35px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:550px;
  width:100px;
  height:35px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:502px;
  width:0px;
  height:0px;
}
#u20_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u20_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:568px;
  width:0px;
  height:0px;
}
#u21_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:154px;
  height:8px;
}
#u21_seg1 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:-4px;
  width:8px;
  height:68px;
}
#u21_seg2 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:51px;
  width:20px;
  height:20px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:57px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:759px;
  width:100px;
  height:35px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:658px;
  width:0px;
  height:0px;
}
#u23_seg0 {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:-4px;
  width:52px;
  height:8px;
}
#u23_seg1 {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:-4px;
  width:8px;
  height:105px;
}
#u23_seg2 {
  border-width:0px;
  position:absolute;
  left:-58px;
  top:88px;
  width:20px;
  height:20px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:-98px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:658px;
  width:0px;
  height:0px;
}
#u24_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:57px;
  height:8px;
}
#u24_seg1 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:-4px;
  width:8px;
  height:105px;
}
#u24_seg2 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:88px;
  width:20px;
  height:20px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:777px;
  width:0px;
  height:0px;
}
#u25_seg0 {
  border-width:0px;
  position:absolute;
  left:-125px;
  top:-4px;
  width:129px;
  height:8px;
}
#u25_seg1 {
  border-width:0px;
  position:absolute;
  left:-132px;
  top:-10px;
  width:20px;
  height:20px;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:-112px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:848px;
  width:100px;
  height:35px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:794px;
  width:0px;
  height:0px;
}
#u27_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:58px;
}
#u27_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:41px;
  width:20px;
  height:20px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:641px;
  width:100px;
  height:35px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:502px;
  width:0px;
  height:0px;
}
#u29_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u29_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:659px;
  width:0px;
  height:0px;
}
#u30_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:108px;
  height:8px;
}
#u30_seg1 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:-74px;
  width:8px;
  height:78px;
}
#u30_seg2 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:-81px;
  width:20px;
  height:20px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:39px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:416px;
  width:0px;
  height:0px;
}
#u31_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:55px;
}
#u31_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:38px;
  width:20px;
  height:20px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:585px;
  width:0px;
  height:0px;
}
#u32_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:60px;
}
#u32_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:43px;
  width:20px;
  height:20px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
